<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Website</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">JOKE GENERATOR</h1>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form action="/setJokeType" method="post">
                <input type="hidden" name="type" value="single">
                <button class="btn <%= locals.isSingleJoke ?  " btn-primary" : "btn-outline-secondary" %> btn-lg px-4
                    gap-3">
                    Single Joke
                </button>
            </form>
            <form action="/setJokeType" method="post">
                <input type="hidden" name="type" value="two-part">
                <button class="btn <%= locals.isSingleJoke ?  " btn-outline-secondary" : "btn-primary" %> btn-lg px-4">
                    Two-Part Joke
                </button>
            </form>
        </div>
        <div>
            <%= locals.isSingleJoke %>
        </div>
        <div>
            <%= locals.joke %>
        </div>
        
        <form action="/getSingleJoke" method="post">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Category...
                </button>
                <ul class="dropdown-menu px-4">
                    <% locals.categories.forEach(category => { %>
                        <li>
                            <div class="form-check">
                                <% if (category.value) { %>
                                    <input class="form-check-input" type="checkbox" value="true" name="<%= category.name %>" checked>
                                    <label class="form-check-label"><%= category.name %></label>
                                <% } else { %>
                                    <input class="form-check-input" type="checkbox" value="true" name="<%= category.name %>">
                                    <label class="form-check-label"><%= category.name %></label>
                                <% } %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Jokes To Avoid (Optional)...
                </button>
                <ul class="dropdown-menu px-4">
                    <% locals.blacklist.forEach(item => { %>
                        <li>
                            <div class="form-check">
                                <% if (item.value) { %>
                                    <input class="form-check-input" type="checkbox" value="true" name="<%= item.name %>" checked>
                                    <label class="form-check-label"><%= item.name %></label>
                                <% } else { %>
                                    <input class="form-check-input" type="checkbox" value="true" name="<%= item.name %>">
                                    <label class="form-check-label"><%= item.name %></label>
                                <% } %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="mt-4 pt-4">
                <input class="btn btn-primary" type="submit" value="Generate Joke">
            </div>
            
        </form>
        
    </div>
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  </body>
</html>
